.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;

  @include columns(488px, 2, $card-width);
  @include columns(768px, 3, $card-width);
  @include columns(1024px, 4, $card-width);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
